name: KodiScript CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-go:
    name: Test Go SDK
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./kodi-go
    steps:
    - uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'
    - name: Test
      run: go test -v ./...